	*{
			margin: 0px;
			padding: 0px;
	}
	ul{
		list-style: none;
	}
	.menu{
			position: relative;
	}
	/*body{
		position: relative;
	}*/
	.menu a {
		text-decoration: none;
		color: white;
	}
	.menu ul {
		top:40px;
		left: 0px;
		position: absolute;
		display: none;
	}
	.menu-col ul {
		
	}
	.bar{
		float: right;
		cursor: pointer;
	}
	.menu-col li{
		background: #303030;
	    position: relative;
	    line-height: 1,5em;
	    padding: 12px;
	    border-bottom: 1px solid #484b5a;
	    color: white;
	    text-align: left;
	    text-transform: uppercase;
    	font-size: 12px;
    	cursor: pointer;
	}
	.menu-col li:hover{
		background: white;
		color: black;
	}
	.menu-col li:hover a{
		/*background: white;*/
		color: black;
	}
	.news-top li{
		background: #303030;
	    position: relative;
	    line-height: 1,5em;
	    padding: 24px;
	    border-bottom: 1px solid #484b5a;
	    color: white;
	    text-align: left;
	    text-transform: uppercase;
    	font-size: 12px;
    	cursor: pointer;
	}
	.news-top ul li:hover{
		right: 10px !important;
		transition: 0.5s;
	}
	.menu-col li a{
		text-decoration: none;
		color: white;
	}
	.intro-item{
		font-family: 'harmonia',Arial,Helvetica,sans-serif;
    	font-size: 18px;
	}
	#nameshop{
	    /*letter-spacing: .5px;*/
	    font-size: 40px;
	    line-height: 52px;
	    font-weight: 500;
	    color: #30333a;
	    font-family: Tiempos,Verdana,Geneva,sans-serif;
	}
	.iconnews{
		font-size: 23px;
	}
	.contact{
		background: #78b43d;
	}
	.news {
		color: #FFF;
   	 	font-family: arial;
    	text-transform: uppercase;
    	position: relative;
    	bottom: 4px;
    	left: 4px;
	}
	.intro{
		color: white;
	}
	.bar-menu{
		padding-top: 8px;
	    padding-left: 10px;
	    padding-right: 10px;
	    color: white;
	}
	.bar-main{
		background: #78b43d;
		height: 35px; 
		cursor: pointer;
	}
	.menu li{
		float: left;
		text-align: center;
		background: #78b43d;
		width: 150px;
		position: relative;
		line-height: 1,5em;
		padding:10px;
	}
	.menu li:hover {
		background:#90c95a;
		/*cursor: pointer;*/
	}
	.menu ul ul{
		left: 150px;
		top: 0px;
	}
	.menu li li:hover{
		background:#90c95a;
		cursor: pointer;
	}
	.drop{
		background:#78b43d;
		width: 1350px;
		height: 40px;
		z-index: 2;
		position: fixed;
	}
	#myhome{
		color: white;
		width: 105px;
	}
	#myhome:hover{
		background:#90c95a;
	}
	/*		.container{
		position: relative;
	}*/
	.items{
		width: 222px;
	    height: 292px;
	    border-width: 3px;
	    border-color: rgba(0,0,0,.03);
	    border-style: solid;
	}
	.image-item{
		height: 179px;
	}
	.items .image-item .size-image{
		height: 179px;
		width: 217px;
	}
	.items .title-item {
	    font-size: 16px;
	    text-align: center;
	    padding-top: 12px;
	}
	.items .price-item {
	    color: red;
	    padding-left: 20px;
	}
	#khung{
		padding-left: 37px;
	}
	.sort-bar{
		height: 49px;
		background: rgba(0,0,0,.03);
	}
	.sort{
		float: left;
		padding: 16px;
	}
	.fix{
		padding-top: 8px;
	}
	#tranformer{
		margin: 0 0 0px;
	}
	.image-product{
		height: 71px;
	}
	.image-product:hover{
	    border: solid;
		border-width: 2px;
		border-color: red;
	}
	.background{
		background: #f5f5f5;
	}

	.description{
		font-size: 27px
	}
	.color{
		color: #ffce3d;
		cursor: pointer;
	}
	.edit{
	    position: relative;
		bottom: 180px;
		left: 200px;
		color: white;
		
	}
	.comment{
		color: #838383;
		font-size: 12px;
	}
	#bodercomment{
		background: white;
		border: solid #f5f5f5;
		height: 13px;
		border-radius: 10px;
		position: relative;
    	right: 19px;
	}
	#infor{
		background: #f5f5f5;
    	height: 1000px;
	}
	.oder{
		display: flex;
	}
	.component{
		width: 100%;
	}
	.paypaid{
		text-align: center;
    	border: solid 1px #f5f5f5;
    	min-height: 420px;
	}
	.frames{
		border: solid 1px #f5f5f5;
	}
	.oder .information{
		padding: 20px 15px 0 0 ;
	}
	.view{
		overflow: hidden;
		box-shadow:  0px 0px 20px -5px rgba(43, 7, 245, 0.84)
	}
	.text{
		text-align: center;
		font-size: 40px;
	}
	.icon{
		height: 21px;
	    width: 21px;
	    line-height: 21px;
	    border: 1px solid rgba(14, 178, 239, 0.29);
	    border-radius: 100%;
	    display: inline-block;
	    text-align: center;
	    vertical-align: top;
	    margin-right: 7px;
	    color: #0EB2EF;
	}
	.textcenter{
		text-align: center;
	}
	.star-eluvation{
		height: 19px;
		position: relative;
		width: 16px;
	}
	.tyle{
		position: absolute;
		overflow: hidden;
		/*width: 49%;*/
	}
	.fanpage_tuong{
		position: fixed;
	    /*bottom: 655px;*/
	    /*width: 321px;*/
	    /*background: white;*/
	    display: flex;
	}
	.outer {
	  background-color: pink;
	  /*width: 200px;*/
	  position: relative;
	  display: inline-block;
	  margin: 100px 14px;
	}

	.inner {
	  font-size: 14px;
	  font-color: white;
	  position: absolute;
	  top: 50%;
	  color: white;
	   font-weight: bold;
	  /*left: 50%;
	  background: #DDD;*/
	}

	.rotate {
	    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
	}
	*, *:before, *:after {
	  box-sizing: border-box;
	}

	html {
	  overflow-y: scroll;
	}

	body {
	  /*background: #c1bdba;*/
	  font-family: 'Titillium Web', sans-serif;
	}

	/*a {
	  text-decoration: none;
	  color: #1ab188;
	  transition: .5s ease;
	}
	a:hover {
	  color: #179b77;
	}*/

	.form {
	  background: white;
	  padding: 40px;
	  max-width: 600px;
	  margin: 40px auto;
	  border-radius: 4px;
	  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	}

	.tab-group {
	  list-style: none;
	  padding: 0;
	  margin: 0 0 40px 0;
	}
	.tab-group:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	.tab-group li {
	  display: block;
	  text-decoration: none;
	  padding: 15px;
	  background: rgba(160, 179, 176, 0.25);
	  color: #a0b3b0;
	  font-size: 20px;
	  float: left;
	  width: 50%;
	  text-align: center;
	  cursor: pointer;
	  transition: .5s ease;
	}
	/*.tab-group li a:hover {
	  background: #179b77;
	  color: #ffffff;
	}*/
	.tab-group .active {
	  background: #1ab188;
	  color: #ffffff;
	}

	h1 {
	  text-align: center;
	  /*color: #ffffff;*/
	  font-weight: 300;
	  /*margin: 0 0 40px;*/
	}

	.labels {
	    padding-left: 0px;
	  /*left:13px;*/
	  color: cornflowerblue;
	  transition:all 0.25s ease;
	  -webkit-backface-visibility: hidden;
	  pointer-events: none;
	  font-size:22px;
	}
	
	.input, textarea {
	  font-size: 22px;
	  display: block;
	  width: 100%;
	  /*height: 100%;*/
	  padding: 5px 10px;
	  background: none;
	  background-image: none;
	  border: 1px solid #a0b3b0;
	  /*color: #ffffff;*/
	  border-radius: 0;
	  transition: border-color .25s ease, box-shadow .25s ease;
	}
	.input:focus, textarea:focus {
	  outline: 0;
	  border-color: #1ab188;
	}

	textarea {
	  border: 2px solid #a0b3b0;
	  resize: vertical;
	}

	.field-wrap {
	  position: relative;
	  margin-bottom: 40px;
	}

	.top-row:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	.top-row > div {
	  float: left;
	  width: 48%;
	  margin-right: 4%;
	}
	.top-row > div:last-child {
	  margin: 0;
	}

	.button {
	  border: 0;
	  outline: none;
	  border-radius: 0;
	  padding: 15px 0;
	  font-size: 2rem;
	  font-weight: 600;
	  text-transform: uppercase;
	  letter-spacing: .1em;
	  background: #1ab188;
	  color: #ffffff;
	  transition: all 0.5s ease;
	  -webkit-appearance: none;
	}
	.button:hover, .button:focus {
	  background: #179b77;
	}

	.button-block {
	  display: block;
	  width: 100%;
	}

	.forgot {
	  margin-top: -20px;
	  text-align: right;
	}
	.error{
		color: red;
    	/*font-size: 13px;*/
		font-weight: 100;
	}
	#email-dn, #password-dn,#address-dk,#phone-dk,#name-dk{
		color: black;
	}
	/*.giohang2:hover #cart{
		display: block;
	}*/
